<mat-toolbar color="primary">
  <span><img src="../../assets/images/safetylogo.png" height=30 width=41></span>
  <a mat-button routerLink="/home"><span class="fa fa-home fa-lg"></span> Home</a>
  <a mat-button routerLink="/aboutus"><span class="fa fa-info fa-lg"></span> About</a>
  <a mat-button routerLink="/catalog"><span class="fa fa-list fa-lg"></span> Catalog</a>
  <a mat-button routerLink="/contactus"><span class="fa fa-address-card fa-lg"></span> Contact</a>
  <span class="flex-spacer"></span>
  <a mat-button (click)="openLoginForm()"><span class="fa fa-sign-in fa-lg"></span> Login</a>
</mat-toolbar>



<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Item 1</button>-->
  <!--<button mat-menu-item>Item 2</button>-->
<!--</mat-menu>-->


<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>SSI</h1>
    <p>We take inspiration from the World's best safety practices, and create a unique fusion experience. Our awesome
      safety protection items
      will tickle your safety vision!</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img src="../../assets/images/safetylogo.png" alt="Logo" width="200" height="200">
  </div>
  <div fxFlex></div>
</div>
