<p>USER TABLE WORKS !!</p>

<p>
  <button mat-button routerLink="/new/user" >Nuevo Usuario</button>
</p>
<table style="width:100%">
  <tr>
    <th>#</th>
    <th>NAME</th>
    <th>JOB CODE</th>
    <th>FEATURED</th>
    <th>JOB POSITION</th>
    <th>JOB DESCRIPTION</th>
  </tr>
  <tr *ngFor="let employee of employees">
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.jobCode}}</td>
    <td>{{employee.featured}}</td>
    <td>{{employee.jobPosition}}</td>
    <td>{{employee.jobDescription}}</td>
    <td><button mat-button>Edit</button></td>
    <td><button mat-button>Delete</button></td>
  </tr>

</table>
