<p>
  users works!
</p>
<a routerLink="/user" mat-button class="background-primary text-floral-white" >
  New User
</a>


<table class="mat-elevation-z8" id="tableUsers">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Image</th>
    <th>Opertions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees" id="item{{emp.id}}">
    <td>{{emp.id}}</td>
    <td>{{emp.firstName}} {{emp.lastName}}</td>
    <td>{{emp.firstName}}</td>
    <td>{{emp.lastName}}</td>
    <td>
      <mat-card>
        <img mat-card-sm-image data-src="data:image/png;base64,{{emp.image}}" alt="{{emp.name}}">
      </mat-card>
    </td>
    <td>
      <button mat-button class="background-accent text-floral-white"  (click)="(updateUser(emp))">Edit</button><br>
      <button mat-raised-button  (click)="openDeleteDialog(emp)">Delete</button><br>

    </td>

  </tr>

  </tbody>

</table>
