<p>
  users works!
</p>
<a routerLink="/user" mat-button class="background-primary text-floral-white" >
  New User
</a>


<table class="mat-elevation-z8" id="tableUsers">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Image</th>
    <th>Opertions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let emp of employees" id="item{{emp.id}}">
    <td>{{emp.id}}</td>
    <td>{{emp.firstName}} {{emp.lastName}}</td>
    <td>{{emp.firstName}}</td>
    <td>{{emp.lastName}}</td>
    <td align="center">

      <!--<div *ngIf="isValid; then thenBlock; else elseBlock"> </div>-->
      <!--<ng-template #thenBlock>-->
        <!--<div>   <b>Data is valid.</b>   </div>-->
      <!--</ng-template>-->
      <!--<ng-template #elseBlock>-->
        <!--<div>   <b>Data is invalid.</b>   </div>-->
      <!--</ng-template>-->
      <!---->

      <mat-card>
          <div *ngIf="emp.image; else imageDefault">
            <img mat-card-sm-image data-src="data:image/png;base64,{{emp.image}}" alt="{{emp.name}}" id="image{{emp.id}}">
          </div>
          <ng-template #imageDefault>
              <img mat-card-sm-image alt="Default User" src="../../assets/images/default-user.png"  id="image{{emp.id}}">
          </ng-template>
      </mat-card>
      <button mat-raised-button  (click)="openChangeImage(emp)">Change Image</button><br>
    </td>
    <td>
      <button mat-button class="background-accent text-floral-white"  (click)="(updateUser(emp))">Edit</button><br>
      <button mat-raised-button  (click)="openDeleteDialog(emp)">Delete</button><br>

    </td>

  </tr>

  </tbody>

</table>
